*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: 0;
}

body{
    font-family: 'Licorice', cursive;
    font-family: 'Spline Sans', sans-serif;
}
.titulo-1{
    text-align: center;
    color: white;
    font-family: 'Spline Sans', sans-serif;
}
.icons{
background-color: #17a3b8;
color: white;
}
.text{
    background-color: #212529;
}
.footer{
    background-color: #17a3b8;
    color: white;
}
.card{
    background-color: #17a3b8;
    margin-bottom: 50px;
}
.linea{
    margin-bottom: 5px;
    color:#17a3b8;
    background-color: #17a3b8;
    border: #17a3b8;
    border-bottom-left-radius: 5px;
}
html{
    scroll-behavior: smooth;
}